.hover {
    transition: background-color 0.3s ease;
    border-radius: 10px; /* Adjust the border radius value for rounded corners */
  }
  
  .hover:hover {
    background-color: #3d67d2;
    box-shadow: none; 
  }

  nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
  